
<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light sticky-top  bg-light">
  <a class="navbar-brand" href=""><img src="/images/logo.jpg" alt="logo" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-4">

      <li class="nav-item btn btn-outline-primary">
          <a  class="nav-link" href="/developer/recommended">
            <i class="fa fa-delicious"></i>
            Recommended
          </a>
      </li>

      <li class="nav-item btn btn-outline-primary">
        <a class="nav-link" href="/developer/dashboard">
          <i class="fa fa-bullhorn"></i>
          Job Posts
        </a>
      </li>

      <li class="nav-item btn btn-outline-primary">
          <a class="nav-link" href="/developer/statistics">
              <i class="fa fa-bar-chart"></i>
              Statistics
          </a>
      </li>

      <li class="nav-item btn btn-outline-primary">
          <a class="nav-link" href="/developer/companies">
              <i class="fa fa-group"></i>
              Companies
          </a>
      </li>

      <li class="nav-item btn btn-danger">
          <a class="nav-link activeNavLink" href="/developer/developersChat">
              <i class="fa fa-wechat"></i>
              Dev-Chat
          </a>
      </li>

      <li class="nav-item btn btn-outline-primary">
          <button type="button" class="btn nav-link" data-toggle="modal"  data-target="#notificationModal" class="nav-link">
              <i class="fa fa-calendar-check-o"></i>
              Notifications
          </button>
      </li>

      <li class="nav-item dropdown btn btn-outline-primary">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle-o"></i>
              <%= user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/developer/portfolio">PortFolio</a>
            <a class="dropdown-item" href="/developer/logout">Logout</a>
      </li>
      
      
      
    </ul>
    
  </div>
</nav>

<!-- modal for notification section -->
<%- include( "../partials/notifications" ) %>

<!------------------ navigation ends here --------------->

<!-- chat box with side bar -->
<div class="chat-container">
    <header class="chat-header">
      <h1><i class="fa fa-smile"></i>Jobspace's Chatroom</h1>
      
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h2>Why this chatroom?</h2>
        <div class="">This chatroom is solely based on peer to peer architecture to help developers by other developers. Jobspace's chatroom aggregates all developers under single room to being vast community of developers.</div>
        <br>
        <h5 class="chatroom-quote">"Individually, we are one drop. Together, we are an ocean"</h5>
        <div class="quoted-by">--Ryunosuke Satoro</div>
      </div>
      <div id="message-collection" class="chat-messages">

                <!-- here comes all the messages -->
                <% messages.forEach(function(msg){ %>
                    <div class="message">
                        <p class="meta"><%= msg.senderName %> <br>
                        <span><%= msg.sendingTime %></span></p>
                        <p class="text"><%= msg.senderMsg %></p>
                    </div>
                <% }) %>
                    
      </div>
    </main>
    <div class="chat-form-container">
        <div class="chat-form">

          <!-- input field to write message -->
            <input
                id="msg"
                type="text"
                placeholder="Enter Message"
                required
                autocomplete="off"
            />
            <button id="sendMsgButton" onclick="appendNewMsg('<%= user.name %>')" class="btn btn-dark"><i class="fa fa-paper-plane"></i> Send</button>
        </div>
        
     
    </div>
</div>

<!-- javascripts file -->
<script src="/js/chat.js"></script>