<!-- -------------------------------Developer's Sign up page------------------------------------- -->
<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=""><img src="/images/logo.jpg" alt="logo" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-4">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign Up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/company/register">Company</a>
          <a class="dropdown-item" href="/developer/register">Developer</a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/company/login">Company</a>
            <a class="dropdown-item" href="/developer/login">Developer</a>
        </li>
      
    </ul>
    
  </div>
</nav>
<!-- navigation bar ends here -->



<!-- Register Developer form -->
<div class="fluid-container pt-3 registerSection">

    <!-- heading -->
    <h1 class="heading-register">Create Account</h1>
    <p class="subHeading-Register">Create Portfolio, Show skills and get hired in big techies. Join the Community of millions of developer.</p>

    <div class="container formSection-register">
        <div class="row">

            <!-- left part for details -->
            <div class="col-md-5 col-sm-12">
                <h2 class="infoHeading">Developer Access :</h2>

                <!-- flush remove the border in list group -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Create portfolio.</li>
                    <li class="list-group-item">Check timeline of Job Posts.</li>
                    <li class="list-group-item">Apply according to skills.</li>
                    <li class="list-group-item">Subscribe dream company for notifications.</li>
                    <li class="list-group-item">Wait for the result of requested applications.</li>
                </ul>

                <div class="form-group  d-flex justify-content-left mt-3">
                  <p class="haveAnAccount">Have an Account? <a href="/developer/login" >Login</a></p>
                </div>

            </div>

             <!-- gap -->
            <!-- <div class="col-md-1 col-sm-12"></div> -->

            <!--Right part for form section -->
            <div class="col-md-7 col-sm-12">

                <!-- partial and flash messaging -->
                <%- include ("./partials/messages") %>
                
                <form action='/developer/register' method='POST'>
                    <div class="form-group d-flex justify-content-center">
                       
                      
                        <div class="input-group" style="width:70%">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fa fa-user-circle"></i>
                            </div>
                          </div> 
                          <input
                            name="name"
                            placeholder="Full Name"
                            type="name"
                            class="form-control"
                            value="<%= typeof name !='undefined'? name:''%>"
                            />
                        </div>
                      
                    </div>
            
                    <div class="form-group d-flex justify-content-center">
                        <div class="input-group" style="width:70%">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fa fa-envelope"></i>
                            </div>
                          </div> 
                          <input
                            name="email"
                            placeholder="Email"
                            type="email"
                            class="form-control"
                            value="<%= typeof email !='undefined'? email:''%>"
                            />
                        </div>
                    </div>
            
                    <div class="form-group d-flex justify-content-center">
                        <div class="input-group" style="width:70%">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fa fa-key"></i>
                            </div>
                          </div> 
                          <input
                            name="password1"
                            placeholder="Password"
                            type="password"
                            class="form-control"
                            value="<%= typeof password1 !='undefined'? password1:''%>"
                            />
                        </div>
                    </div>
            
                    <div class="form-group d-flex justify-content-center">
                        <div class="input-group" style="width:70%">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fa fa-user-secret"></i>
                            </div>
                          </div> 
                          <input
                            name="password2"
                            placeholder="Confirm Password"
                            type="password"
                            class="form-control"
                            value="<%= typeof password2 !='undefined'? password2:''%>"
                            />
                        </div>
                    </div>


                    <div class="form-group d-flex justify-content-center">
                        <div class="custom-controls-stacked" style="width:70%">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" checked="checked" class="custom-control-input" onclick="return false"> 
                              <label for="agree_0" class="custom-control-label" style="color:white">Agree to our Term of Service and Privacy Policy</label>
                            </div>
                        </div>
                    </div>
                    
                  
                    <div class="form-group  d-flex justify-content-center">
                        <button  style="width:70%" name="submit" type="submit" class="btn btn-primary">Sign Up</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

