<!-- View of company profile -->
<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light sticky-top  bg-light">
    <a class="navbar-brand" href=""><img src="/images/logo.jpg" alt="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pr-4">

        <li class="nav-item btn btn-outline-primary">
            <a  class="nav-link" href="/developer/recommended">
              <i class="fa fa-delicious"></i>
              Recommended
            </a>
        </li>

        <li class="nav-item btn btn-outline-primary">
          <a class="nav-link" href="/developer/dashboard">
            <i class="fa fa-bullhorn"></i>
            Job Posts
          </a>
        </li>

        <li class="nav-item btn btn-outline-primary">
            <a class="nav-link" href="/developer/statistics">
                <i class="fa fa-bar-chart"></i>
                Statistics
            </a>
        </li>

        <li class="nav-item btn btn-danger">
            <a class="nav-link activeNavLink" href="/developer/companies">
                <i class="fa fa-group"></i>
                Companies
            </a>
        </li>

        <li class="nav-item btn btn-outline-primary">
            <a class="nav-link" href="/developer/developersChat">
                <i class="fa fa-wechat"></i>
                Dev-Chat
            </a>
        </li>

        <li class="nav-item btn btn-outline-primary">
            <button type="button" class="btn nav-link centered" data-toggle="modal"  data-target="#notificationModal" class="nav-link">
                <i class="fa fa-calendar-check-o"></i>
                Notifications
            </button>
        </li>

        <li class="nav-item dropdown btn btn-outline-primary">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o"></i>
                <%= user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/developer/portfolio">PortFolio</a>
              <a class="dropdown-item" href="/developer/logout">Logout</a>
        </li>
        
        
        
      </ul>
      
    </div>
</nav>

<!-- navigation bar ends here -->

<!-- modal for notification section -->
<%- include( "../partials/notifications" ) %>

<div class="fluid-container profileSection">
    <div class="container profileForm mt-3">
        <div class="fluid-container profileHeading">
            <h5>RECRUITER</h5>
            <h1 class="btn-primary"><%= company.name %></h1>
        </div>
        
        <h5 class="Profileheading">COMPANY NAME</h5>
        <h2 class="details"><%= company.name %></h1>

        <h5 class="Profileheading">BUSINESS EMAIL</h5>
        <h2 class="details" style="text-transform: lowercase;"><%= company.email %></h2>

        <h5 class="Profileheading">COMPANY SIZE</h5>
        <h2 class="details">

            <!-- i have saved company size in (numbers),so showing accordingly -->
            <% if(company.size==1000||company.size==2000||company.size==5000) { %>
                less than <%= company.size %> employees
            <% } 
            else { %>
                more than <%= company.size-1 %> employees
            <% } %>
        </h1>

        <h5 class="Profileheading">COUNTRY</h5>
        <h2 class="details"><%= company.country %></h2>

    </div>
</div>