<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img src="/images/logo.jpg" alt="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pr-4">

        <li class="nav-item">
            <a class="nav-link" href="/developer/recommended">
              <i class="fa fa-bullhorn"></i>
              Recommended
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/developer/dashboard">
            <i class="fa fa-bullhorn"></i>
            Job Posts
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/developer/statistics">
                <i class="fa fa-bar-chart"></i>
                Statistics
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/developer/companies">
                <i class="fa fa-bar-chart"></i>
                Companies
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/developer/notifications">
                <i class="fa fa-calendar-check-o"></i>
                Notifications
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o"></i>
                <%= user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/developer/portfolio">PortFolio</a>
              <a class="dropdown-item" href="/developer/logout">Logout</a>
        </li>
        
        
        
      </ul>
      
    </div>
</nav>

<!-- navigation bar ends here -->

<div class="container">
    <div class="row">

        <% companies.forEach(function(company){ %>

            <div class="col-md-4 col-sm-6 col-xs-12 mt-3">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= company.name %></h5>
                      <p class="card-text"><%= company.email %></p>
                      <p class="card-text"><%= company.country %></p>

                      <% flag=1;
                            user.subscribed.forEach(function(emailID){
                            if(emailID==company.email){
                                flag=-1;
                            }
                      })
                      if(flag==-1){ %> 
                            <button class="btn btn-danger">Subscribed</button>
                      <% } 
                      else { %>
                            <button id="subscribe" onclick="subscribeFunction('<%= company.email %>')" class="btn btn-primary">Subscribe</button>
                        <% } %>
                    </div>
                </div>
    
            </div>
        <% }) %>
        

        

    </div>
</div>


<!-- on click function for subscribe button  -->
<script src="/js/subscribe.js"></script>