<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img src="/images/logo.jpg" alt="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pr-4">
        <li class="nav-item">
          
          <a class="nav-link" href="/company/dashboard">
            <i class="fa fa-bar-chart"></i>
            Timeline
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/company/addPost">
                <i class="fa fa-bullhorn"></i>
                Add Post
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/company/notifications">
                <i class="fa fa-calendar-check-o"></i>
                Notifications
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o"></i>
                <%= user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/company/profile">Profile</a>
              <a class="dropdown-item" href="/company/logout">Logout</a>
        </li>
        
          
      </ul>
      
    </div>
</nav>



<!-- ---------------------------Profile section starts here----------------------- -->

<div class="fluid-container profileSection">
    <div class="container profileForm mt-3">
        <div class="fluid-container profileHeading">
            <h5>RECRUITER</h5>
            <h1 class="btn-primary"><%= user.name %></h1>
        </div>
        
        <h5 class="Profileheading">COMPANY NAME</h5>
        <h2 class="details"><%= user.name %></h1>

        <h5 class="Profileheading">BUSINESS EMAIL</h5>
        <h2 class="details" style="text-transform: lowercase;"><%= user.email %></h2>

        <h5 class="Profileheading">COMPANY SIZE</h5>
        <h2 class="details">
            <% if(user.size==1000||user.size==2000||user.size==5000) { %>
                less than <%= user.size %> employees
            <% } 
            else { %>
                more than <%= user.size-1 %> employees
            <% } %>
        </h1>

        <h5 class="Profileheading">COUNTRY</h5>
        <h2 class="details"><%= user.country %></h2>

    </div>
</div>