<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img src="/images/logo.jpg" alt="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pr-4">
          
        <li class="nav-item">
          <a class="nav-link" href="/company/dashboard">
            <i class="fa fa-bar-chart"></i>
            Timeline
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/company/addPost">
                <i class="fa fa-bullhorn"></i>
                Add Post
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/company/statistics">
                <i class="fa fa-bullhorn"></i>
                Statistics
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/company/notifications">
                <i class="fa fa-calendar-check-o"></i>
                Notifications
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o"></i>
                <%= user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/company/profile">Profile</a>
              <a class="dropdown-item" href="/company/logout">Logout</a>
        </li>
               
      </ul>   
    </div>
</nav>

<!-- naviagation bar ends here -->

<!-- statistics section start from here -->
<div class="container">
  <div id="accordion">

      <% posts.forEach(function(post){ %>
          <div class="card mt-2 mb-2">
              <div class="card-header">
                <div class="d-inline"><%= post.jobName %></div> 
                <div class="d-inline d-flex flex-row-reverse">
                  <button class="btn btn-success">Done</button>
                </div>      
              </div>
              <% post.appliedDev.forEach(function(email){ %>
                    <div class="card-body row">
                      <div class="">
                        <form action="/company/devProfile" method="POST">
                          <button class="btn btn-primary" id="declineEmail/<%= post._id %>/<%= email %>" type="submit" name="submit" value="<%= email %>"><%= email %></button>
                        </form>
                      </div>
                      <div class="col-md-6 col-xs-12 justify-content-right"> 
                        <button class="btn btn-danger" id="decline/<%= post._id %>/<%= email %>" onclick="declineFunction('<%= post._id %>/<%= email %>')" value="<%= email %>">
                          <i class="fa fa-minus-circle"></i>
                        </button>
                      </div>
                    </div>
                      
              <% }) %>
              
          </div>
      <% }) %>
  
  </div>
</div>

<!-- decline Javascript file -->
<script src="/js/decline.js"></script>